$base-color: #cecece;

.header {
  border-bottom: 1px solid $base-color;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.wrapper {
  display: flex;
  padding: 5px;

  div:first-child {
    flex: 0 0 500px;
  }
}

